Repository UnBArqDsw2020-2/2020.2_G7_gXchange_DOCS, pull requests merged in 2021-03, with the labels that each got.

#61 Adição do diagrama de classes
  docs/assets/diagrama_classes/Diagrama_de_classes.png
  docs/diagrama_classes.md
  docs/versoes/diagrama_classe/1.0.md
  mkdocs.yml
Labels: docs, tarefa

#63 Ata reunião do dia 01/03/2021
  docs/atas/reuniao_01_03_2021.md
Labels: reunião

#65 Criação do documento de componentes
  docs/diagrama_componentes.md
  mkdocs.yml
Labels: docs

#67 Criação do documento de atividades
  docs/assets/diagrama_atividade/DA_AlterarSenha.png
  docs/assets/diagrama_atividade/DA_DesativarConta.png
  docs/assets/diagrama_atividade/DA_EditarPerfil.png
  docs/assets/diagrama_atividade/DA_ExcluirConta.png
  docs/assets/diagrama_atividade/DA_Personalizar_Feed.png
  docs/assets/diagrama_atividade/DA_ReportarUsuario.png
  docs/assets/diagrama_atividade/avaliar_usuario.jpeg
  docs/assets/diagrama_atividade/banir_usuario.png
  docs/assets/diagrama_atividade/cadastrar_anuncio.png
  docs/assets/diagrama_atividade/cadastro.png
  docs/assets/diagrama_atividade/editar_anuncio.png
  docs/assets/diagrama_atividade/invalidar_anuncio.png
  docs/assets/diagrama_atividade/login.jpeg
  docs/assets/diagrama_atividade/mensagem_comprador.jpeg
  docs/assets/diagrama_atividade/mensagem_vendedor.png
  docs/assets/diagrama_atividade/reportar_anuncio.png
  docs/assets/diagrama_atividade/visualizar_anuncios.png
  docs/diagramas_atividades.md
  mkdocs.yml
Labels: docs

#72 Criação do documento de diagramas de estados
  docs/assets/diagramas_estados/anuncio.png
  docs/assets/diagramas_estados/conta_usuario.png
  docs/diagramas_estados.md
  mkdocs.yml
Labels: docs

#75 Refatoração da estrutura do projeto
  .gitignore
  docs/desenho/base/1.1/5w2h.md
  docs/desenho/base/1.1/apresentacao_1.1.md
  docs/desenho/base/1.1/causa_efeito.md
  docs/desenho/base/1.1/design_sprint/design_sprint.md
  docs/desenho/base/1.1/design_sprint/prototipo_alta.md
  docs/desenho/base/1.1/design_sprint/prototipo_media.md
  docs/desenho/base/1.1/lexico.md
  docs/desenho/base/1.1/personas.md
  docs/desenho/base/1.1/rastro_participantes_1.1.md
  docs/desenho/base/1.1/requisitos/brainstorming.md
  docs/desenho/base/1.1/requisitos/introspeccao.md
  docs/desenho/base/1.1/requisitos/padroes.md
  docs/desenho/base/1.1/requisitos/questionario.md
  docs/desenho/base/1.1/requisitos/requisitos.md
  docs/desenho/base/1.1/rich_picture.md
  docs/desenho/base/1.1/riscos.md
  docs/desenho/base/1.2/apresentacao_1.2.md
  docs/desenho/base/1.2/bpmn.md
  docs/desenho/base/1.2/metodologia.md
  docs/desenho/base/1.2/rastro_participantes_1.2.md
  docs/desenho/modelagem/2.1/diagrama_classes.md
  docs/desenho/modelagem/2.1/diagrama_componentes.md
  docs/desenho/modelagem/2.1/diagrama_pacotes.md
  docs/desenho/modelagem/2.2/diagramas_atividades.md
  docs/desenho/modelagem/2.2/diagramas_estados.md
  docs/iniciativa_geral/atas/reuniao_01_03_2021.md
  docs/iniciativa_geral/atas/reuniao_23_02_2021.md
  docs/iniciativa_geral/padroes/atas.md
  docs/iniciativa_geral/padroes/documento.md
  docs/iniciativa_geral/padroes/github.md
  docs/iniciativa_geral/padroes/versoes.md
  docs/requisitos/brainstorming.md
  docs/requisitos/requisitos.md
  mkdocs.yml
Labels: ajuda necessária, melhoria

#76 Alteração CI github
  .github/workflows/ci.yaml
Labels: HOTFIX

#78 Adição ata do dia 05/03/2021
  docs/iniciativa_geral/atas/reuniao_01_03_2021.md
  docs/iniciativa_geral/atas/reuniao_05_03_2021.md
  docs/iniciativa_geral/atas/reuniao_23_02_2021.md
  docs/iniciativa_geral/padroes/documento.md
  docs/iniciativa_geral/padroes/versoes.md
  mkdocs.yml
Labels: reunião

#79 Atualização da data do arquivo
  docs/iniciativa_geral/atas/reuniao_01_03_2021.md
Labels: HOTFIX

#81 Remoção dos iframes dos diagramas no lucidchart
  docs/assets/diagrama_classes/Diagrama_de_classes.png
  docs/assets/diagrama_classes/diagrama_de_classes.png
  docs/assets/diagrama_componentes/diagrama_de_componentes.png
  docs/assets/diagrama_pacotes.png
  docs/assets/diagrama_pacotes/diagrama_de_pacotes.png
  docs/desenho/modelagem/2.1/diagrama_classes.md
  docs/desenho/modelagem/2.1/diagrama_componentes.md
  docs/desenho/modelagem/2.1/diagrama_pacotes.md
Labels: bug, melhoria

#84 Especificação dos requisitos
  docs/assets/priorizacao_atributos_qualidade.jpg
  docs/desenho/modelagem/iniciativa/atributos_qualidade.md
  docs/desenho/modelagem/iniciativa/especificacao_suplementar.md
  mkdocs.yml
Labels: docs

#82 Correção links não relativos
  docs/desenho/base/1.1/design_sprint/design_sprint.md
  docs/desenho/base/1.1/lexico.md
  docs/desenho/base/1.1/rastro_participantes_1.1.md
  docs/desenho/base/1.1/requisitos/brainstorming.md
  docs/desenho/base/1.1/requisitos/introspeccao.md
  docs/desenho/base/1.1/requisitos/padroes.md
  docs/desenho/base/1.1/requisitos/questionario.md
  docs/desenho/base/1.1/requisitos/requisitos.md
  docs/desenho/base/1.1/rich_picture.md
  docs/versoes/lexico/1.1.md
  docs/versoes/lexico/1.2.md
  docs/versoes/lexico/1.3.md
  docs/versoes/lexico/1.4.md
Labels: HOTFIX, bug

#91 Adição dos requisitos de qualidade ao documento com todos os requisitos
  docs/desenho/base/1.1/requisitos/padroes.md
  docs/desenho/base/1.1/requisitos/requisitos.md
  docs/versoes/requisitos/2.0.md
  mkdocs.yml
Labels: docs

#94 Adição dos diagramas de sequência
  docs/assets/diagramas_sequencia/cadastro_anuncio.png
  docs/assets/diagramas_sequencia/interacao_API.png
  docs/assets/diagramas_sequencia/interagir_feed.png
  docs/assets/diagramas_sequencia/mandar_mensagem.png
  docs/desenho/modelagem/2.2/diagramas_sequencia.md
  mkdocs.yml
Labels: docs

#90 Criação do Backlog de produto
  docs/assets/backlog/epicos.jpg
  docs/assets/backlog/features.jpg
  docs/assets/backlog/user_stories.jpg
  docs/desenho/modelagem/2.3/backlog_produto.md
  mkdocs.yml
Labels: docs

#95 Criação do documento do método de priorização First Things First
  docs/desenho/modelagem/2.2/diagramas_estados.md
  docs/desenho/modelagem/2.3/ftf.md
  docs/desenho/modelagem/iniciativa/especificacao_suplementar.md
  mkdocs.yml
Labels: docs

#97 Criação do documento de diagramas de comunicação
  docs/assets/diagramas_comunicacao/comprador_compra_jogo.png
  docs/assets/diagramas_comunicacao/usuario_interage_feed.png
  docs/assets/diagramas_comunicacao/vendedor_cadastra_anuncio.png
  docs/desenho/modelagem/2.1/diagrama_componentes.md
  docs/desenho/modelagem/2.1/diagrama_pacotes.md
  docs/desenho/modelagem/2.2/diagramas_comunicacao.md
  mkdocs.yml
Labels: docs

#99 Correção dos links
  docs/desenho/base/1.1/requisitos/brainstorming.md
  docs/desenho/base/1.1/requisitos/introspeccao.md
  mkdocs.yml
Labels: HOTFIX

#102 Adição dos documentos de rastreamento
  docs/desenho/base/1.1/requisitos/brainstorming.md
  docs/desenho/modelagem/2.1/rastro_participantes.md
  docs/desenho/modelagem/2.2/rastro_participantes.md
  docs/desenho/modelagem/2.3/backlog_produto.md
  docs/desenho/modelagem/2.3/rastro_participantes.md
  mkdocs.yml
Labels: docs

#101 Correções gerais
  docs/assets/diagramas_estados/conta_usuario.png
  docs/desenho/modelagem/2.1/diagrama_pacotes.md
  docs/desenho/modelagem/2.2/diagramas_atividades.md
  docs/desenho/modelagem/2.2/diagramas_estados.md
  docs/desenho/modelagem/2.2/diagramas_sequencia.md
  docs/desenho/modelagem/2.3/backlog_produto.md
Labels: HOTFIX

#103 Adição apresentações da entrega do módulo 2.1
  README.md
  docs/assets/screenshots/entrega_2/backlog_produto.png
  docs/assets/screenshots/entrega_2/diagrama_componentes.png
  docs/assets/screenshots/entrega_2/diagrama_sequencia.png
  docs/desenho/modelagem/2.1/apresentacao.md
  docs/desenho/modelagem/2.2/apresentacao.md
  docs/desenho/modelagem/2.3/apresentacao.md
  mkdocs.yml
Labels: docs

#106 Adição da ata de reunião do dia 16 de março de 2021
  docs/iniciativa_geral/atas/reuniao_16_03_2021.md
  mkdocs.yml
Labels: reunião

#107 Adição da ata do dia 21 de março
  docs/iniciativa_geral/atas/reuniao_21_03_2021.md
  mkdocs.yml
Labels: reunião

#108 Adição da ata de reunião do dia 22/03/2021
  docs/iniciativa_geral/atas/reuniao_22_03_2021.md
  mkdocs.yml
Labels: reunião

#110 Adição do documento de modelagem do banco de dados
  docs/assets/modelagem_bd/DER.png
  docs/assets/modelagem_bd/DLD.png
  docs/desenho/padroes_projeto/iniciativa/modelagem_bd.md
  mkdocs.yml
Labels: docs
