Repository UnBArqDsw2020-2/2020.2_G7_gXchange_DOCS, pull requests merged in 2021-02, with the labels that each got.

#9 Adição do documento de personas
  docs/assets/personas/carlos.png
  docs/assets/personas/rebecca.png
  docs/assets/personas/sarah.png
  docs/assets/personas/thomas.png
  docs/personas.md
  mkdocs.yml
Labels: docs, tarefa

#10 Doc/lexico
  docs/lexico.md
  docs/versoes/lexico/1.0.md
  docs/versoes/lexico/1.1.md
  mkdocs.yml
Labels: docs, tarefa

#12 Adição do documento de diagrama de causa-efeito
  docs/lexico.md
  docs/versoes/lexico/1.0.md
  docs/versoes/lexico/1.1.md
  mkdocs.yml
Labels: docs, tarefa

#11 Criação do documento do framework 5W2H
  docs/5w2h.md
  mkdocs.yml
Labels: docs, tarefa

#14 Refatoração da página de sobre na wiki
  docs/assets/integrantes/Igor.png
  docs/assets/integrantes/Marcelo.png
  docs/assets/integrantes/Rhuan.png
  docs/assets/integrantes/Thiago_G.png
  docs/assets/integrantes/Thiago_L.png
  docs/assets/integrantes/Washington.png
  docs/index.md
Labels: melhoria

#15 Correções nos links do documento lexico
  docs/lexico.md
  mkdocs.yml
Labels: bug, docs

#21 Adição do documento de análise de riscos
  docs/assets/ear.png
  docs/riscos.md
  docs/versoes/riscos/1.0.md
  mkdocs.yml
Labels: docs, tarefa

#20 Documento Design Sprint
  docs/assets/design_sprint/prototipo_alta/anuncio.png
  docs/assets/design_sprint/prototipo_alta/anuncio_sidebar.png
  docs/assets/design_sprint/prototipo_alta/cadastro.png
  docs/assets/design_sprint/prototipo_alta/chat.png
  docs/assets/design_sprint/prototipo_alta/conversas.png
  docs/assets/design_sprint/prototipo_alta/feed.png
  docs/assets/design_sprint/prototipo_alta/login.png
  docs/assets/design_sprint/prototipo_alta/pre_login.png
  docs/assets/design_sprint/prototipo_media/anuncio.png
  docs/assets/design_sprint/prototipo_media/anuncio_sidebar.png
  docs/assets/design_sprint/prototipo_media/cadastro.png
  docs/assets/design_sprint/prototipo_media/chat.png
  docs/assets/design_sprint/prototipo_media/conversas.png
  docs/assets/design_sprint/prototipo_media/feed.png
  docs/assets/design_sprint/prototipo_media/login.png
  docs/assets/design_sprint/prototipo_media/pre_login.png
  docs/assets/design_sprint/richpictures/igor.jpg
  docs/assets/design_sprint/richpictures/marcelo.JPG
  docs/assets/design_sprint/richpictures/rhuan.jpg
  docs/assets/design_sprint/richpictures/richpicture.png
  docs/assets/design_sprint/richpictures/thiago_lopes.jpg
  docs/assets/design_sprint/richpictures/usuario.png
  docs/assets/design_sprint/richpictures/washington.jpg
  docs/assets/design_sprint/storyboard.jpeg
  docs/assets/design_sprint/unpack.png
  docs/design_sprint/design_sprint.md
  docs/design_sprint/prototipo_alta.md
  docs/design_sprint/prototipo_media.md
  mkdocs.yml
Labels: docs, tarefa

#23 Melhoria de estilização da Wiki
  docs/assets/logos/icon-branco.png
  docs/assets/logos/icon-preto.png
  docs/assets/logos/logo-preta-verde-1.png
  docs/assets/logos/logo-preta-verde.png
  docs/index.md
  docs/stylesheets/extra.css
  mkdocs.yml
Labels: melhoria

#25 Adição do documento de brainstorming
  docs/assets/brainstorming.png
  docs/requisitos/brainstorming.md
  docs/requisitos/introspeccao.md
  docs/versoes/introspeccao/1.1.md
  mkdocs.yml
Labels: docs, tarefa

#27 Adição do documento de elicitação por questionario
  docs/assets/questionario/1.jpg
  docs/assets/questionario/10.jpg
  docs/assets/questionario/11.jpg
  docs/assets/questionario/12.jpg
  docs/assets/questionario/13.jpg
  docs/assets/questionario/2.jpg
  docs/assets/questionario/3.jpg
  docs/assets/questionario/4.jpg
  docs/assets/questionario/5.jpg
  docs/assets/questionario/6.jpg
  docs/assets/questionario/7.jpg
  docs/assets/questionario/8.jpg
  docs/assets/questionario/9.jpg
  docs/requisitos/questionario.md
  mkdocs.yml
Labels: docs, tarefa

#33 Adição do rich picture que foi criado no dia 9/02
  docs/assets/rich_picture/anuncios.png
  docs/assets/rich_picture/usuario.png
  docs/rich_picture.md
  docs/versoes/rich_picture/1.0.md
  mkdocs.yml
Labels: docs, tarefa

#35 Correção da ordem das imagens
  docs/causa_efeito.md
Labels: tarefa

#41 Adição do documento de rastro dos participantes
  docs/rastro_participantes.md
  mkdocs.yml
Labels: docs

#39 Adição do documento de metodologias
  docs/metodologia.md
  mkdocs.yml
Labels: docs

#42 Adição do documento com os diagramas BPMN
  docs/assets/bpmn/fechamento_sprint.png
  docs/assets/bpmn/geral.png
  docs/assets/bpmn/incrementacao.png
  docs/assets/bpmn/planejamento_sprint.png
  docs/assets/bpmn/sprint.png
  docs/bpmn.md
  mkdocs.yml
Labels: docs, tarefa

#44 Adição do documento de rastro claro dos participantes para subtópico 1.2
  docs/rastro_participantes_1.1.md
  docs/rastro_participantes_1.2.md
  mkdocs.yml
Labels: docs

#46 Adição da primeira apresentação do projeto
  docs/apresentacao_1.1.md
  mkdocs.yml
Labels: tarefa

#47 Tarefa/2 apresentacao
  docs/apresentacao_1.1.md
  docs/apresentacao_1.2.md
  mkdocs.yml
Labels: tarefa

#50 Arrumando as imagens do documento BPMN
  docs/assets/bpmn/fechamento_sprint.png
  docs/assets/bpmn/geral.png
  docs/assets/bpmn/planejamento_sprint.png
Labels: docs, tarefa

#48 Correções e melhorias gerais
  docs/design_sprint/design_sprint.md
  docs/rastro_participantes_1.1.md
  docs/requisitos/padroes.md
  docs/requisitos/questionario.md
  docs/rich_picture.md
  docs/stylesheets/extra.css
  docs/versoes/rich_picture/1.0.md
  mkdocs.yml
Labels: melhoria

#52 Adição da ata da reunião do dia 23/02/2021
  docs/atas/reuniao_23_02_2021.md
  mkdocs.yml
Labels: reunião, tarefa

#59 Criação do documento de padrões
  docs/padroes/atas.md
  docs/padroes/documento.md
  docs/padroes/github.md
  docs/padroes/versoes.md
  mkdocs.yml
Labels: docs, reunião, tarefa

#60 Adição do documento com diagrama de pacotes
  docs/assets/diagrama_pacotes.png
  docs/diagrama_pacotes.md
  mkdocs.yml
Labels: docs, tarefa
